@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>
    I love to be around creative thinkers, like to talk and listen about technologies, communities, countries and
    businesses.
</p>

<p>

    I think I am a perfect candidate because of my coursework, employment, competitive skill, volunteering activities
    and campus involvement have prepared me well for this position.
</p>



<p>
    <b>Competitive Skills:</b>- I participated National Hackathon and Make a thon competition both were creating future
    leader, I awarded from that competitions. (https://sites.google.com/view/mesadhan/portfolio)

</p>

<p>
    <b>Coursework:</b>As I’m BSC in CSE. So I’m familiar with programming languages, database management system,
    software development methods, network systems, and embedded system design. Academic work rich me technically and
    create opportunities.

</p>

<p>
    <b>Volunteering activities: </b>Teaching Assistance in Daffodil International University and achieve student
    prefect certification. Android Student Club gives certification, IEEE DIU Student Branch (Founder Member),
    Contributor and organizing academic member at Google Developers Group (GDG Bangla Community), Trainer at Google
    Code Lab Session, CPC (Computer Programming Club at Daffodil), Volunteering and contribution work though Bangladesh
    Open Source network Community). In volunteering activities I took a chance to complete different type certification
    course like Google Cloud Essential Certification, Google Code Jam and Google Mobile sites certification etc. I
    working with the different community to improve my leadership quality. (http://mesadhan.jimdo.com)

</p>

<p>
    <b>Employment: </b> Present Working Software Enginner at Leads Corporation. And Also I was worked on startup
    companies Open Digital as a Junior Developer. I like to introduce myself professional place so that I can make
    myself suitable and gather experience. (https://www.opendigital.com/)
</p>


<p>
    I’m able to working on remotely. I am giving support and service for existence projects through Team Viewer,
    Maintain project using Version control system like Git and other electronic medium.

</p>