@{
ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    89 Maloti Block 5/A Villa: Magonlia,<br />
    Mirpur-10, Dhaka <br />
    <abbr title="Phone">P:</abbr>
    +88 01725620378
</address>

<address>
    <strong>Contact Email:</strong> <a href="mailto:cse.sadhan@gmail.com">cse.sadhan@gmail.com</a><br />
    <strong>Website:</strong> <a target="_blank" href="http://inktechs.com">inktechs.com</a><br />
    <strong>Website:</strong> <a target="_blank" href="https://mesadhan.jimdo.com">mesadhan.jimdo.com</a><br />
    <strong>Website:</strong> <a target="_blank" href="https://mesadhan.github.io">mesadhan.github.io</a><br />
</address>

