@{
    ViewData["Title"] = "Education";
}
<h2>@ViewData["Title"]</h2>


<p>Hello! I like to keep myself simple.!.</p><br>

<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>BSC IN COMPUTER SCIENCE & ENGINEERING.</h4>
        <h5>Daffodil International University</h5>
        <h6>2013 - 2018</h6>
    </div>

    <div class="col-sm-8">
        I Finished my BSc from DIU. Here I was Learn Basic Algorithms, Data Structure, Object Orientated Designing, UML, Basic Networking, Database, Embedded System, Accounting, Programming Language and many more.
    </div>
</div>

<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>DEGREE OF HIGHER SECONDARY (OLEVEL).</h4>
        <h5>Rajshahi Model School And College</h5>
        <h6>2013 - 2016</h6>
    </div>

    <div class="col-sm-8">
        I Finished my College Degree from Rajshahi Model School And College. Here I was Learn Advance Math, English, Science, Biology and Lots.
    </div>
</div>

<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>DEGREE OF SECONDARY (ALEVEL).</h4>
        <h5>Nazipur High School</h5>
        <h6>2007 - 2011</h6>
    </div>

    <div class="col-sm-8">
        I Finished my School Degree from Nazipur High School. Here I was Learn Basic Math,English, Science, Biology and Lots.
    </div>
</div>

<div class="row" style="border: 1px solid #bebebe">
    <div class="col-sm-4">
        <h4>Open Digital Communication.</h4>
        <h5>MOBILE APPLICATION & WEB DEVELOPER</h5>
        <h6>2017 - 2018</h6>
    </div>

    <div class="col-sm-8">
        Develop Mobile and web applications. Jointly working with "Habson communication". We are next generation technology driven team, working on integrated marketing solution with experience & proven capabilities, we are able to developed plans & ideas which are highly interactive. We works on customer experience & engagement model based on attract, engage and connect. Our team consistently works on adapting new & trendy marketing strategy through the most experiential customer engagement solution. We use soft cell approach to build brand equity and long term sustainability
    </div>
</div>