@{
ViewData["Title"] = "Tools & Technologies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<br>
<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>Lead Corporation Ltd</h4>
        <h5>As Software Enignner</h5>
        <h6>2018 September to continue</h6>
        <a target="_blank" href="https://mesadhan.jimdo.com">More Information</a>
    </div>

    <div class="col-sm-8">
        Following DevOps Culture, So Familiar With:
        Git, Gogs, Docker, Ansible, Jenkins, SonarQube, ELK, OpenShift and more... 
    </div>
</div>


<br>
<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>Daffodil Software Ltd.</h4>
        <h5>As Student Associate</h5>
        <h6>2017 April - 2018 September</h6>
        <a target="_blank" href="https://mesadhan.jimdo.com">More Information</a>
    </div>

    <div class="col-sm-8">
        <b>Java Development:</b><br>
        JAVA, Spring Boot, JDBC Template, QueryDsl, Jasper Report, Apache Tomcat 8, Git

        <br><br><b>Android Development:</b><br>
        Android, RESTful API, SQLite, Room Database, Google Maps API, Service, MVP, Data Binding, Material Design, XML, AdMob Integrations, Telephony API, Device Connectivity, Socketing, Third-party libraries and APIs (Flexbox, Volley, Retrofit, okHttp, GSON, Glide, RxJava, Picasso etc.)

       <br><br><b> Database Management System (SQL, NoSQL)</b><br>
        SQL Server, MySQL, MongoDB, SQLite,

    
        <br><br><b>Fronted Development</b><br>
        Html, CSS, JSON, XML, Bootstrap, Flex Layout, AJAX, JavaScript, Jquery, Typescripts, Ui Grid,

        AngularJS, Angular5, Angular Meterial2, e2e testing protractor

        <br><br><b>Other:</b><br>
        Basic Python (Django), ASP.NET MVC Application, 

    </div>
</div>


<br>
<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>Open Digital Ltd. (Statup.)</h4>
        <h5>As Junior Developer (Part Time Job)</h5>
        <h6>2014 April - 2016 September</h6>
        <a target="_blank" href="https://mesadhan.jimdo.com">More Information</a>
    </div>

    <div class="col-sm-8">
        <b>Java Development SE:</b><br>
        Java Swing, And Core Java

        <br><br><b>Android Development:</b><br>
        Android, RESTful API, SQLite,Google Maps API, Service, MVP, XML, AdMob Integrations, Telephony API, Device Connectivity, Third-party libraries and APIs (Volley, GSON etc.)


        <br><br><b>PHP Development</b><br>
        PHP, Laravel, Lumen, Composer, Eloquent ORM, (Model, Controller, Middleware, Routing, Views),Git
    </div>
</div>