@{
    ViewData["Title"] = "WORK EXPERIENCE";
}
<h2>@ViewData["Title"]</h2>


<p>I am skill on Programming Language and Developing Software. I like to take challenges. I am passionate about my work!.</p><br>

<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>LEADS Corporation Limited.</h4>
        <h5>SOFTWARE ENGINEER</h5>
        <h6>2018 - continue</h6>
    </div>

    <div class="col-sm-8">
        LEADS Corporation Limited , LEADS Corporation, LEADS,innovation, Information Technologies, banking, insurance, other financial services, telecom, manufacturing & distribution industries, Software Development, custom software development, software products, offshore software development, professional outsourcing ,software consultancy. Serving ISVs and SMEs covering Banking Sector, Non Banking Financial, Life Insurance, Pharmaceuticals, training, consulting.
    </div>
</div>

<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>Daffodil Software Section.</h4>
        <h5>STUDENT ASSOCIATE</h5>
        <h6>2017 - 2018</h6>
    </div>

    <div class="col-sm-8">
        Provide Software, IT, Outsourcing, Animation, Apps Development,ERP, Medical software Solution.
    </div>
</div>

<div class="row" style="border: 1px solid #bebebe; padding: 5px;">
    <div class="col-sm-4">
        <h4>Master Creative IT.</h4>
        <h5>JAVA TRAINER</h5>
        <h6>2017 - 2018</h6>
    </div>

    <div class="col-sm-8">
        Provide Trainings for Student to Developments IT Skill.
    </div>
</div>

<div class="row" style="border: 1px solid #bebebe">
    <div class="col-sm-4">
        <h4>Open Digital Communication.</h4>
        <h5>MOBILE APPLICATION & WEB DEVELOPER</h5>
        <h6>2017 - 2018</h6>
    </div>

    <div class="col-sm-8">
        Develop Mobile and web applications. Jointly working with "Habson communication". We are next generation technology driven team, working on integrated marketing solution with experience & proven capabilities, we are able to developed plans & ideas which are highly interactive. We works on customer experience & engagement model based on attract, engage and connect. Our team consistently works on adapting new & trendy marketing strategy through the most experiential customer engagement solution. We use soft cell approach to build brand equity and long term sustainability
    </div>
</div>